GB.CustomersAPI/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "LogicAppIntegrationAccount": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "/subscriptions/841bc417-7db7-4e2e-82d3-c80bd04ab305/resourcegroups/IntegrationBootcamp/providers/Microsoft.Logic/integrationAccounts/gibmad17-ia-kb01"
    },
    "dynamicscrmonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "dynamicscrmonline-2"
    },
    "dynamicscrmonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Fnieto@KabelSistemas.onmicrosoft.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "XML_Validation": {
              "type": "XmlValidation",
              "inputs": {
                "content": "@xml(triggerBody())",
                "integrationAccount": {
                  "schema": {
                    "name": "gib-Customer"
                  }
                }
              },
              "runAfter": {}
            },
            "Request_KO": {
              "type": "Response",
              "inputs": {
                "statusCode": 400,
                "headers": {
                  "content-type": "application/json"
                },
                "body": {
                  "result": "El mensaje incluido en la petición no es válido"
                }
              },
              "runAfter": {
                "XML_Validation": [
                  "Failed"
                ]
              }
            },
            "New_Dynamics_CRM_Account": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/dynamicscrmonline"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('org460cc1cb.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items",
                "body": {
                  "address1_city": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/FullAddress/City/text())')",
                  "_primarycontactid_value": "@{body('New_Dynamics_CRM_Contact')?['contactid']}",
                  "address1_line1": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/FullAddress/Address/text())')",
                  "name": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/CompanyName/text())')",
                  "address1_country": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/FullAddress/Country/text())')",
                  "address1_stateorprovince": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/FullAddress/Region/text())')",
                  "fax": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/Fax/text())')",
                  "address1_postalcode": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/FullAddress/PostalCode/text())')",
                  "telephone1": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/Phone/text())')"
                }
              },
              "runAfter": {
                "New_Dynamics_CRM_Contact": [
                  "Succeeded"
                ]
              }
            },
            "All_OK": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "content-type": "application/json"
                },
                "body": "{ \"result\":\"Cuenta creada correctamente con ID: @{body('New_Dynamics_CRM_Account')?['accountid']}\""
              },
              "runAfter": {
                "New_Dynamics_CRM_Account": [
                  "Succeeded"
                ]
              }
            },
            "NewAccount_KO": {
              "type": "Response",
              "inputs": {
                "statusCode": 418,
                "headers": {
                  "content-type": "application/json"
                },
                "body": "{ \"result\":\"Error al crear la cuenta: @{body('New_Dynamics_CRM_Account')['name']}\""
              },
              "runAfter": {
                "New_Dynamics_CRM_Account": [
                  "Failed"
                ]
              }
            },
            "New_Dynamics_CRM_Contact": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-westeurope.azure-apim.net/apim/dynamicscrmonline"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('org460cc1cb.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items",
                "body": {
                  "emailaddress1": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/Email/text())')",
                  "salutation": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/ContactTitle/text())')",
                  "lastname": "@xpath(xml(triggerBody()), 'string(/NewCustomer/Customer/ContactName/text())')"
                }
              },
              "runAfter": {
                "XML_Validation": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {},
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "dynamicscrmonline": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_1_Connection_Name'))]",
                "connectionName": "[parameters('dynamicscrmonline_1_Connection_Name')]"
              }
            }
          }
        },
        "integrationAccount": {
          "id": "[parameters('LogicAppIntegrationAccount')]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('dynamicscrmonline_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('dynamicscrmonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicscrmonline')]"
        },
        "displayName": "[parameters('dynamicscrmonline_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}